<nb-layout windowMode>
  <nb-layout-header fixed>
    <div class="header-container">
      <div class="logo-container">
        <p class="logo"><span>Afirme</span></p>
      </div>
    </div>

    <div class="header-container">
      <nb-actions size="small">
      </nb-actions>
    </div>
  </nb-layout-header>

 <nb-layout-column>
     <h4>Choose theme</h4>

    <ng-container *ngFor="let theme of themes">
        <nb-card (click)="navigate(theme.value)">
          <nb-card-header>{{theme.name}}</nb-card-header>
          <nb-card-body>
            <img src="../../assets/images/{{theme.value}}-theme.png"
                 class="theme-preview"
                 alt="{{theme.name}} Theme"/>
          </nb-card-body>
        </nb-card>
    </ng-container>
  </nb-layout-column>

  <nb-layout-footer fixed>
    <ngx-footer></ngx-footer>
  </nb-layout-footer>

</nb-layout>
